html, body {
  margin: 0;
  padding: 0;
  font-family: 'Hanken Grotesk', sans-serif;
}

.font-space {
  font-family: 'Space Grotesk', sans-serif;
}

.nav {
  .nav-content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;

    .ai-warning {
      padding: 5px 0;
      letter-spacing: 0.5px;
      text-align: center;
      .font-space();
    }

    .logo, .title {
      display: inline-block;
      vertical-align: middle;
    }

    .logo {
      img {
        width: 64px;
      }
    }

    .title {
      margin-left: 10px;
      font-size: 24px;
      letter-spacing: 1px;
      .font-space();
    }
  }
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1500px;

  .stats {
    .stats-heading {
      h2 {
        margin-bottom: 5px;
      }
    }
  }

  .bills {
    .bill {
      margin: 15px 0;
    }
  }

  .bill-content {
    text-align: center;
    letter-spacing: 1px;

    & > div {
      margin: 0 auto; // they have fixed width right now due to PDF parsing
    }

    .separator {
      max-width: 300px;
      margin: 30px auto;
      border-bottom: 1px solid #000;
    }

    .text-center {
      text-align: center;
    }

    .bullet {
      max-width: 768px;
      margin: 20px auto;
      text-align: left;

      &.num, &.quoted {
        padding-left: 50px;
      }
    }
  }
}
