<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}govscent.org{% endblock %}</title>
</head>

<body>
<div class="nav">
    <div class="nav-content">
        {% block nav %}
            <div class="ai-warning">Disclaimer: Govscent is an automated AI experiment.</div>
            <div class="logo"><img src="{% static 'logo_0.png' %}" alt="Govscent.org Logo"/></div>
            <div class="title">Govscent.org</div>
        {% endblock %}
    </div>
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
