{% extends "base.html" %}

{% block title %}{{ bill.gov_id }} | govscent.org{% endblock %}

{% block content %}
    <div class="bill-details">
        <div class="score">
            {% if bill.last_analyzed_at %}
                {% if bill.on_topic_ranking %}
                    <h3>Bill Topic Score</h3>
                    {{ bill.on_topic_ranking }}/10 on topic rating.
                    {% if bill.on_topic_reasoning %}
                        <div class="reasoning">
                            {{ bill.on_topic_reasoning }}
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <h5>Pending Analysis.</h5>
            {% endif %}
        </div>
        <div class="topics">
            {% if bill.topics and bill.topics.all.first is not None %}
                <h3>Bill Topics</h3>
                <ol>
                    {% for topic in bill.topics.all %}
                        <li>
                            <a href="{% url 'topic_page_with_slug' topic.id topic.name %}">{{ topic.name }}</a>
                            {% if topic.get_bill_count_cached > 1 %}
                                ({{ topic.get_bill_count_cached | add:'-1' }} other bills)
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
    <div class="fastcomments-collab-chat">
        <div id="fastcomments-collab-chat-widget" class="bill-content">
            {{ bill_html | safe }}
        </div>
    </div>
    <script src="https://cdn.fastcomments.com/js/embed-collab-chat.min.js"></script>
    <script>
        FastCommentsCollabChat(document.getElementById('fastcomments-collab-chat-widget'), {
            tenantId: 'pZTrBhCJlsQB'
        });
    </script>

{% endblock %}
