{% extends "base.html" %}

{% block title %}govscent.org{% endblock %}

{% block content %}
    {% if stats %}
        {% load humanize %}
        <div class="stats">
            <div class="stats-heading">
                <h2>Stats</h2>
                {{ stats.count_bills | intcomma }} bills ({{ stats.count_bills_analyzed | intcomma }} analyzed).
            </div>
            <div class="stats-smelliness-by-year">
                {% load static %}
                <script src="{% static 'chart.js' %}"></script>
                <canvas id="smelliness-chart"></canvas>
                <script>
                    (function () {
                        const ctx = document.getElementById('smelliness-chart');
                        ctx.height = 300;

                        new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ({{ stats.average_smelliness_by_year_json | safe }}).map((item) => item.year),
                                datasets: [{
                                    label: 'Bill Smelliness Over Time',
                                    data: ({{ stats.average_smelliness_by_year_json | safe }}).map((item) => item.score !== null ? 10 - item.score : null),
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                height: 300,
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    })();
                </script>
            </div>
        </div>
    {% endif %}
    <div class="bills">
        <h2>Recent Bills</h2>
        {% if recent_bills %}
            {% for bill in recent_bills %}
                <div class="bill">
                    <a class="title" href="{% url 'bill_page' bill.gov bill.gov_id %}">{{ bill.title }}</a>
                    <div class="date">{{ bill.date }}</div>
                    <div class="on-topic-ranking">{{ bill.on_topic_ranking }}</div>
                    <div class="analyzed-status">
                        {% if bill.last_analyzed_at %}
                            Analyzed at {{ bill.last_analyzed_at }}
                        {% else %}
                            Pending Analysis
                        {% endif %}
                    </div>
                    <div class="summary">
                        {{ bill.text_summary }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No bills found.</h5>
        {% endif %}
    </div>
{% endblock %}