{% extends "base.html" %}

{% block title %}govscent.org{% endblock %}

{% block content %}
    {% if stats %}
        {% load humanize %}
        <div class="stats">
            <div class="stats-heading">
                {{ stats.count_bills | intcomma }} bills. {{ stats.count_bills_analyzed | intcomma }} analyzed.
            </div>
            <div class="stats-smelliness-by-year">
                {% for stat in stats.average_smelliness_by_year %}
                    <div>{{ stat.year }} {{ stat.score }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="bills">
        <h2>Recent Bills</h2>
        {% if recent_bills %}
            {% for bill in recent_bills %}
                <div class="bill">
                    <a class="title" href="{% url 'bill_page' bill.gov bill.gov_id %}">{{ bill.title }}</a>
                    <div class="date">{{ bill.date }}</div>
                    <div class="on-topic-ranking">{{ bill.on_topic_ranking }}</div>
                    <div class="analyzed-status">
                        {% if bill.last_analyzed_at %}
                            Analyzed at {{ bill.last_analyzed_at }}
                        {% else %}
                            Pending Analysis
                        {% endif %}
                    </div>
                    <div class="summary">
                        {{ bill.text_summary }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No bills found.</h5>
        {% endif %}
    </div>
{% endblock %}