{% extends "base.html" %}
{% block title %}{{ bill_topic }} | govscent.org{% endblock %}

{% block content %}
    <div class="bill-lists">
        <div class="topic">
            <h3>Bills with Topic : {{bill_topic}}</h3>
        </div>
        <div class="bill-links">
            <ol>
                {% for bill in bills %}
                    <li><a href="{% url 'bill_page' bill.gov bill.gov_id %}">({{ bill.gov_id }}) {{ bill.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}