{% extends "base.html" %}
{% block title %}Search Topic | govscent.org{% endblock %}

{% block content %}
    <div class="topic-search-box">
        <form id="form" role="search" method=POST action="{% url 'topic_search_page' %}">
            {% csrf_token %}
            <input type="search" id="query" name="searched" placeholder="Search..."
                   aria-label="Search through site content" value="{{ searched | default_if_none:'' }}"/>
            <button class="text-search-button" type="submit">Search</button>
        </form>
        <div class="search-result">
            {% if searched %}
                <h3>Topic{{ topics.count|pluralize:",s" }} for: {{ searched }}</h3>
            {% else %}
                <h3>All Topics</h3>
            {% endif %}
            <ul>
                {% for topic in paginated_data %}
                    <li>
                        <a href="{% url 'topic_page_with_slug' topic.id topic.name %}">{{ topic.name }}</a>
                        ({{ topic.get_bill_count_cached }} related bill{{ topic.get_bill_count_cached |pluralize:",s" }})
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if paginated_data.has_previous %}
                    <a href="?page=1&searched={{ searched | default_if_none:'' }}">&laquo; first</a>
                    <a href="?page={{ paginated_data.previous_page_number }}&searched={{ searched | default_if_none:'' }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ paginated_data.number }} of {{ paginated_data.paginator.num_pages }}.
                </span>

                {% if paginated_data.has_next %}
                    <a href="?page={{ paginated_data.next_page_number }}&searched={{ searched | default_if_none:'' }}">next</a>
                    <a href="?page={{ paginated_data.paginator.num_pages }}&searched={{ searched | default_if_none:'' }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}